@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 980px) {
	nav {
		width: 100%;
	}
	
	.sidenav {
		display: none;
	}

	
@media screen and (max-width: 320px) {
	nav {
		width: 90%;
	}
	
	.theme img {
		display: none;
	}
}