@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Maven+Pro|Nanum+Gothic');

/*--------------NAVIGATIONBAR--------------*/
#leftw {
	float: left;
	margin-left: 10px;
}

#lefty {
	float: left;
	margin-left: 10px;
	opacity: 0;
}

#lefty:hover {
	opacity: 1;
	transition: 0.2s;
}

nav {
	width: 100%;
	background-color: #E4E4E4;
	overflow: auto;
	margin-bottom: 50px;
}

li {
	float: right;
}

.logo img {
	position: absolute;
	margin-top: 10px;
	margin-left: 0;
	width: auto;
	height: 50px;
}

.theme img {
	position: absolute;
	margin-top: -50px;
	width: auto;
	height: 50px;
}

nav a {
	width: auto;
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	font-family: 'arial';
	color: #333;
	text-align: center;
	
}

nav a:hover {
	background-color: #A4485B;
	transition: 0.2s;
	color: #333;
	text-transform: 0.2s;
}

li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #A4485B;
	color: #333;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    text-align: left !important;
	width: 250px;
}

.dropdown-content a:hover {
	background-color: #f9f9f9;
	text-decoration-line: underline;
	text-decoration-color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
	width: 300px;
}

ul {
	list-style: none;
	font-family: 'comfortaa';
	color: black;
	font-size:1.3em;
	text-align: left;
	padding: 0;
	margin: 0 0 0 150px;
}

/*--------------SCROLL INDICATOR--------------*/
/*
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
*/
/*--------------MAIN BODY--------------*/

html {
	box-sizing: border-box;
	height: 100%;
}

body{
	background-color: #f9f9f9;
	font-size:100%;
	font-family: 'nanum gothic';
	margin: 0;
	padding: 0;
	min-height: 100%;
}

h2 {
	color: #f9f9f9;
	text-align: center;
}

h2:after {
	color: #f9f9f9;
	content: "";
    display: block;
    height: 2px;
    width: 300px;
    background-color: rgba(229,229,0,0.5);
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
	border-radius: 3px;
}

iframe{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*--------------ABOUT CARD--------------*/

.column {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
.column {
   width: 100%;
   display: block;
}
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #f9f9f9;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.container p {
	color: #222;
}

.title {
    color: #919191;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #A4485B;
	color: #333;
}

/*--------------SLIDESHOW--------------*/

#slideshow {
  	overflow: hidden;
  	height: 494px;
  	width: 1000px;
  	margin: auto;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border-radius: 3px;
}

.slide-wrapper {
  	width: 3000px;
  	-webkit-animation: slide 18s ease infinite;
}

.slide {
  	float: left;
  	height: 494px;
  	width: 1000px;
}

.slide:nth-child(1) {
  	background-image: url(img/site1.PNG);
}

.slide:nth-child(2) {
  	background-image: url(img/site2.PNG);
}

.slide:nth-child(3) {
  	background-image: url(img/site3.PNG);
}

@-webkit-keyframes slide {
  	20% {margin-left: 0px;}
  	30% {margin-left: -1000px;}
  	50% {margin-left: -1000px;}
  	60% {margin-left: -2000px;}
  	70% {margin-left: -2000px;}
}

/*--------------FOOTER--------------*/

.footer {
    background-color: #333;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #444;
	padding: 10px 0px 10px 0px;
	display: flex;
	float: left;
	margin-top: -40px;
	position: absolute;
  	top: 100%;
	right: 0;
  	bottom: 0;
  	left: 0;
	height: 40px;
}

.footer section {
	margin: 0 auto;
}

.footer p {
	display: inline-block;
	font-family: 'nanum gothic';
	margin-right: 100px;
	text-align: center;
	color: #999;
	margin: 2px;
}

.footer h4 {
	font-family: 'nanum gothic';
	color: #fff;
	display: inline-block;
}

.footer h4:after {
	display: none;
}

.socials {
	justify-content: flex-end;
	float: right;
}

.fa {
  	padding: 10px 11px;
  	font-size: 30px;
  	width: 7px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
  	border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  	background: #3B5998;
  	color: white;
}